<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-slides [options]="sliderOpts"
              *ngIf="datalocalService.avisos.length === 0">
    <ion-slide>
      
      <ion-label>No hay favoritos</ion-label>

    </ion-slide>
  </ion-slides>



  <app-avisos  *ngIf="datalocalService.avisos.length > 0"
                [avisos]="datalocalService.avisos"
                [enFavoritos]="true" ></app-avisos>


</ion-content>
